.video {
  display: flex;
  flex: 1;
  max-width: 1500px;
  .videoImg {
    width: 95%;
  }
  iframe {
    cursor: pointer;
  }
  pre {
    margin-bottom: 50px;
  }
}
.sideImg {
  display: flex;
  cursor: pointer;
  transition: 0.2s all;
  img {
    margin-right: 5px;
  }
  p:first-child {
    font-weight: 600;
  }
  margin: 5px 0;
  &:hover {
    transform: translateY(-5px);
  }
}
.center {
  display: flex;
  justify-content: center;
}
.margin {
  margin-left: 200px;
}
@media screen and (max-width: 1100px) {
  .side {
    display: none;
  }
  .video {
    width: 100%;
    margin: 0 auto;
    iframe {
      height: 400px;
    }
  }
}
