.app {
  color: black;
  font-family: sans-serif;
  .screen {
    display: none;
  }
  .firstScreen {
  }
  .youtube {
    display: none;
  }
  .youtubeScreen {
    display: block;
    animation: LookScreen 3.5s;
  }
}
@keyframes LookScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
