.head {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  .img {
    background-image: url("https://drive.google.com/file/d/1a6CX6A_wKPmCrA1IA7ja7g93qauCYuaj/view");
  }
  .tab {
    display: flex;
    align-items: center;
  }
  .icon {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
  }
  .input {
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 15px;
  }
  .centerTap {
    display: flex;
    align-items: center;
    flex: 0 1 640px;
    padding: 0 16px;
  }
  .icons {
    background-color: #f8f8f8;
    padding: 12px 15px;
    border: 1px solid black;
  }
}
@media screen and (max-width: 950px) {
  .logo {
    display: none;
  }
  .icon {
    display: none;
  }
  .icons {
    display: block;
  }
}
